{% extends "layout.html" %}
{% block body %}
<form action="/" method="post">
  {% for category in categories %}
  <div class="checkbox">
    <label>
      <input type="checkbox" name="category" value="{{ category.name }}"> {{ category.name }}
    </label>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
