<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Zee Crawler</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block nav %}
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/">Zee Crawler</a>
	</div>
	<div id="navbar">
	  <ul class="nav navbar-nav">
            <li><a href="{{ url_for('database_menu') }}">manage database</a></li>
	    {% if not session.logged_in %}
            <li><a href="{{ url_for('login') }}">log in</a></li>
	    {% else %}
            <li><a href="{{ url_for('logout') }}">log out</a></li>
	    {% endif %}
	  </ul>
	</div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}

    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      
      {% block body %}{% endblock %}
    </div><!-- /.container -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.1.min.js') }}"></script>

  </body>
</html>
