{% extends "layout.html" %}
{% block body %}
<table class="table table-striped table-condensed">
  {% for price in prices %}
  <tr>
    {% for item in items %}
      {% if price.item_id == item.item_id and item.category in categories %}
        <td>{{ item.category }}</td>
        <td>{{ item.name }}</td>
        <td>{{ price.amount }}</td>
        <td>{{ price.price }}</td>
        <td>
	  {{ [price.price.split(' ')[0], price.amount.split(' ')[0]] | calc_price }}
	  {{ price.price.split(' ')[1] }}/{{ price.amount.split(' ')[1] }}</td>
        <td><a href="{{ item.url }}">link</a></td>
        <td><a about="_blank" href="https://duckduckgo.com/?q={{ item.name }}">ddg</a></td>
        <td><a about="_blank" href="https://fr.wikipedia.org/w/index.php?search={{ item.name }}">wiki</a></td>
      {% endif %}
    {% endfor %}
    
  </tr>
  {% else %}
  <tr>
    <td><em>Unbelievable.  No entries here so far</em></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
