{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <script>
      function sse() {
        var source = new EventSource("/update-progress-stream");
        source.onmessage = function(event) {
          percentage = event.data.split(' ')[0]
          text = event.data.split(' ')
          text.shift()
          $('.progress-bar').css('width', percentage+'%').attr('aria-valuenow', percentage);
          document.getElementById('out').innerHTML = text.join(' ')
          //if(percentage >= 100)
            //source.close()
        }
      }
      sse();
    </script>
    
    <div class="progress">
      <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      </div>
    </div>
    <p class="bg-info"><span id="out">{{ message }}</span></p>
  {% else %}
    <p class="bg-warning">You must log in first.</p>
  {% endif %}
{% endblock %}
