{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <p class="bg-info">{{ message }}</p>
    <a class="btn btn-danger" href="{{ url_for('initdb') }}" role="button">Reset Database</a>
    <a class="btn btn-danger" href="{{ url_for('update_database') }}" role="button">Update Database</a>
  {% else %}
    <p class="bg-warning">You must log in first.</p>
  {% endif %}
{% endblock %}
